.expenses {
    padding: 1rem;
    border-radius: 12px;
    background: #252525;
    box-shadow:  6px 6px 11px #171717,
                 -6px -6px 11px #333333;    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
   
  }