.expense-item__header {
  display: flex;
  justify-content: center;
  color: #c9c9c9;
}
.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 3rem;
  background-color: #bdbdbd;
}

.expense-item__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  color: #252525;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
}

.expense-item:hover{
  transform: scale(1.1);
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(148, 23, 23);
  border-radius: 12px;
  border-radius: 12px;
  background: #bdbdbd;
  box-shadow: inset 5px 5px 5px #aeaeae,
              inset -3px -3px 3px #cccccc;

}

@media (min-width: 580px) {
  .expense-item__title {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__title h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
.expense-item__date {
  color: #000000;
}
.mainTitle{
  display: flex;
  justify-content: center;
  color: #c9c9c9;
  font-size: xx-large;
}